footer p
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 0%;
    color: white;
    font-size: 14px;
    
}

footer
{
    padding-left: 0%;
    position:fixed;
    left: 0px;
    bottom:0px;
    width:100%;
    background-color: black;
}


footer p a
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: right;
    line-height: 0%;
    color: white;
}





