
section table
{
    color:black;
    border-collapse: collapse;

}

section table h2 {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    color:#F47920;
    font-size: 20px;
    font-weight: bold;
}

section table p
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

section table li
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    list-style-type: "♦ ";
}

section table tr td div
{

    text-align: right;
    
}

section table td:nth-child(2)
{
    width: 400px;
}




.tabla2
{
    border-collapse: separate;
    
    
}


.tabla2 p
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    display: block;
    font-size: 18px;
    font-weight: bold;
}


.tabla2 tr td div
{

    text-align: right;
    
}

.tabla2 tr td:nth-child(2)
{
    padding-right: 100px;
    width: 800px;
}

.tabla2 tr td hr
{
    border: none;
    height: 1px;
    width: 100%;
    background-color:black;
}

.tabla2 h2 {
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    color:#005883;
    font-size: 20px;
    font-weight: bold;
    line-height: 0%;
}

.tabla2 tr td
{
    width: 500px;
    text-align: left;
}

.tituloconcepto
{
    position: relative;
    margin-top: 6px;
    background-color:#F47920;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 100%;
    z-index: -10;
}

.textotitulo
{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.parrafo
{
    margin-top: 6px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.textoparrafo
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    color: black;
    font-size: 20px;
    margin: 10px;
}




.tb_section
{
    margin-left: 10%;
    width: 80%;
    border-color: none;
    margin-bottom: 50px;
}

.tb_section tr
{
    border-color: none;
    background-color:#F47920;
    border-radius: 20px;
    margin-bottom: 50px;
}







.ejemplo1
{
    float: left;
    margin-top: 10px;
    background-color:#F47920;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    border-radius: 20px;
    width: 40%;
    line-height: 40px;
}

.ejemplo2
{
    margin-right: 50px;
    float: right;
    margin-top: 10px;
    background-color:#F47920;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 40%;
    line-height: 40px;
}

.textoejemplo
{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
}

.img_ejemplo1
{
    float: left;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.img_ejemplo2
{
    float: right;
    margin-right: 70px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.textotitulo2
{
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.tituloconcepto2
{
    margin-top: 80px;   
    background-color:#F47920;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 100%;
}

.img_ejemplosolo
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

section hr
{
    margin-bottom: 60px;
    margin-top: 60px;
    border: none;
    height: 1px;
    width: 100%;
    background-color:gray;
    opacity: 50%;
}

.referencias
{
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    list-style-type: "♦ ";
}

.hrautor
{
    border: none;
    height: 1px;
    width: 100%;
    background-color:gray;
    opacity: 50%;
}

.imagen
{
    float: left;
    margin-left: 1cm;
}

.moverabajo
{
    margin-top: 3cm;
    margin-left: 8cm;
    
}



#container {
    text-align: center;
    position: relative;
    display: inline-block;
}
#image {
    position: absolute;
    margin-left: 9cm;
    margin-top: 4cm;

}
#text {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 290px;
    left: 640px;
    background-color: white;
    font-size: 22px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: black;
}


#sopadeletras
{
    position: relative;
    text-align: center;
    margin: 50px;
    
}
